.list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  flex-wrap: wrap;
}

.item {
  width: 300px;
  margin-bottom: 10px;
}

.itemLink {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #212121;
  font-weight: 700;
}
